@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito&display=swap");body,html {
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #f2f2f2;
    position: relative
}

.fullpageLoaderclass {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center
}

a {
    color: inherit;
    text-decoration: none
}

* {
    box-sizing: border-box
}

p {
    margin-top: 0;
    margin-bottom: 0
}

.show-in-mobile {
    display: none!important
}

.show-in-desktop {
    display: block!important
}

.popup-content {
    border-radius: 6px;
    position: relative;
    box-shadow: 0 15px 15px 0 rgba(0,0,0,.12),0 5px 15px 0 rgba(0,0,0,.2);
    background: #fff;
    min-width: 360px;
    z-index: 99999999
}

.popup-overlay {
    height: 100%;
    overflow-y: hidden;
    z-index: 10000000!important;
    background-color: rgba(0,0,0,.5)
}

.uploadPopup-content {
    z-index: 10!important;
    width: 742px
}

.login-popup-content {
    z-index: 10!important;
    padding: 0!important;
    width: 400px;
    height: 444px
}

.uploadPopup-content {
    padding: 0!important;
    width: 700px
}

@media only screen and (max-width: 767.98px) {
    .popup-content {
        width:100%!important
    }

    .show-in-desktop {
        display: none!important
    }

    .show-in-mobile {
        display: block!important
    }

    .uploadPopup-content {
        position: absolute!important;
        top: 0!important;
        height: 100%!important;
        background: #e7e7e7;
        border-radius: 0
    }
}

.mjx-chtml {
    display: inline-block;
    line-height: 0;
    text-indent: 0;
    text-align: left;
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    font-size-adjust: none;
    letter-spacing: normal;
    word-wrap: normal;
    word-spacing: normal;
    white-space: nowrap;
    float: none;
    direction: ltr;
    max-width: none;
    max-height: none;
    min-width: 0;
    min-height: 0;
    border: 0;
    margin: 0;
    padding: 1px 0
}

.MJXc-display {
    display: block;
    text-align: center;
    margin: 1em 0;
    padding: 0
}

.mjx-chtml[tabindex]:focus,body :focus .mjx-chtml[tabindex] {
    display: inline-table
}

.mjx-math {
    border-collapse: separate;
    border-spacing: 0
}

.mjx-math,.mjx-math * {
    display: inline-block
}

.mjx-denominator,.mjx-numerator {
    display: block;
    text-align: center
}

.MJXc-stacked {
    height: 0;
    position: relative
}

.MJXc-stacked>* {
    position: absolute
}

.MJXc-bevelled>*,.mjx-stack {
    display: inline-block
}

.mjx-op {
    display: block
}

.mjx-under {
    display: table-cell
}

.mjx-over {
    display: block
}

.mjx-over>*,.mjx-under>* {
    padding-left: 0!important;
    padding-right: 0!important
}

.mjx-prestack>.mjx-presub,.mjx-prestack>.mjx-presup,.mjx-stack>.mjx-sub,.mjx-stack>.mjx-sup {
    display: block
}

.mjx-delim-h>.mjx-char {
    display: inline-block
}

.mjx-surd {
    vertical-align: top
}

.mjx-mphantom * {
    visibility: hidden
}

.mjx-merror {
    background-color: #ff8;
    color: #c00;
    border: 1px solid #c00;
    padding: 2px 3px;
    font-style: normal;
    font-size: 90%
}

.mjx-annotation-xml {
    line-height: normal
}

.mjx-menclose>svg {
    fill: none;
    stroke: currentColor
}

.mjx-mlabeledtr,.mjx-mtr {
    display: table-row
}

.mjx-mtd {
    display: table-cell;
    text-align: center
}

.mjx-block,.mjx-label {
    display: block
}

.mjx-span {
    display: span
}

.mjx-char {
    display: block;
    white-space: pre
}

.mjx-itable {
    display: inline-table
}

.mjx-row {
    display: table-row
}

.mjx-cell {
    display: table-cell
}

.mjx-table {
    display: table;
    width: 100%
}

.mjx-line {
    display: block;
    height: 0
}

.mjx-strut {
    width: 0;
    padding-top: 1em
}

.mjx-vsize {
    width: 0
}

.MJXc-space1 {
    margin-left: .167em
}

.MJXc-space2 {
    margin-left: .222em
}

.MJXc-space3 {
    margin-left: .278em
}

.mjx-ex-box-test {
    position: absolute;
    width: 1px;
    height: 60ex
}

.MJXc-TeX-vec-R {
    padding-top: 0!important
}

mjx-mspace {
    display: block!important
}

mjx-math {
    line-height: 7px!important
}

mjx-mfenced {
    display: inline-flex!important;
    flex-wrap: wrap;
    overflow-wrap: anywhere
}

.MJXc-TeX-unknown-R {
    font-family: inherit;
    font-style: normal;
    font-weight: 400
}

.MJXc-TeX-unknown-I {
    font-family: inherit;
    font-style: italic;
    font-weight: 400
}

.MJXc-TeX-unknown-B {
    font-family: inherit;
    font-style: normal;
    font-weight: 700
}

.MJXc-TeX-unknown-BI {
    font-family: inherit;
    font-style: italic;
    font-weight: 700
}

.MJXc-TeX-ams-R,.MJXc-TeX-cal-B,.MJXc-TeX-cal-R,.MJXc-TeX-frak-B,.MJXc-TeX-frak-R,.MJXc-TeX-main-B,.MJXc-TeX-main-I,.MJXc-TeX-main-R,.MJXc-TeX-math-BI,.MJXc-TeX-math-I,.MJXc-TeX-sans-B,.MJXc-TeX-sans-I,.MJXc-TeX-sans-R,.MJXc-TeX-script-R,.MJXc-TeX-size1-R,.MJXc-TeX-size2-R,.MJXc-TeX-size3-R,.MJXc-TeX-type-R {
    font-family: inherit
}

.MJXc-TeX-size4-R {
    font-family: MJXc-TeX-size4-R,MJXc-TeX-size4-Rw
}

@font-face {
    font-family: MJXc-TeX-ams-R;
    src: local("MathJax_AMS"),local("MathJax_AMS-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-ams-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_AMS-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_AMS-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_AMS-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-cal-B;
    src: local("MathJax_Caligraphic Bold"),local("MathJax_Caligraphic-Bold");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-cal-Bx;
    src: local("MathJax_Caligraphic");
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-cal-Bw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Bold.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Bold.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-frak-R;
    src: local("MathJax_Fraktur"),local("MathJax_Fraktur-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-frak-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-frak-B;
    src: local("MathJax_Fraktur Bold"),local("MathJax_Fraktur-Bold");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-frak-Bx;
    src: local("MathJax_Fraktur");
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-frak-Bw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Bold.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Bold.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-math-BI;
    src: local("MathJax_Math BoldItalic"),local("MathJax_Math-BoldItalic");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-math-BIx;
    src: local("MathJax_Math");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-math-BIw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Math-BoldItalic.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Math-BoldItalic.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Math-BoldItalic.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-sans-R;
    src: local("MathJax_SansSerif"),local("MathJax_SansSerif-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-sans-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-sans-B;
    src: local("MathJax_SansSerif Bold"),local("MathJax_SansSerif-Bold")
}

@font-face {
    font-family: MJXc-TeX-sans-Bx;
    src: local("MathJax_SansSerif");
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-sans-Bw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Bold.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Bold.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-sans-I;
    src: local("MathJax_SansSerif Italic"),local("MathJax_SansSerif-Italic");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-sans-Ix;
    src: local("MathJax_SansSerif");
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-sans-Iw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Italic.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Italic.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Italic.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-script-R;
    src: local("MathJax_Script"),local("MathJax_Script-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-script-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Script-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Script-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Script-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-type-R;
    src: local("MathJax_Typewriter"),local("MathJax_Typewriter-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-type-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Typewriter-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Typewriter-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Typewriter-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-cal-R;
    src: local("MathJax_Caligraphic"),local("MathJax_Caligraphic-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-cal-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-main-B;
    src: local("MathJax_Main Bold"),local("MathJax_Main-Bold");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-main-Bx;
    src: local("MathJax_Main");
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-main-Bw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Main-Bold.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Main-Bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-main-I;
    src: local("MathJax_Main Italic"),local("MathJax_Main-Italic");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-main-Ix;
    src: local("MathJax_Main");
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-main-Iw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Main-Italic.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Main-Italic.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Main-Italic.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-main-R;
    src: local("MathJax_Main"),local("MathJax_Main-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-main-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-math-I;
    src: local("MathJax_Math Italic"),local("MathJax_Math-Italic");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-math-Ix;
    src: local("MathJax_Math");
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-math-Iw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Math-Italic.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Math-Italic.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-size1-R;
    src: local("MathJax_Size1"),local("MathJax_Size1-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-size1-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Size1-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Size1-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Size1-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-size2-R;
    src: local("MathJax_Size2"),local("MathJax_Size2-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-size2-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Size2-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Size2-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Size2-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-size3-R;
    src: local("MathJax_Size3"),local("MathJax_Size3-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-size3-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Size3-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Size3-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Size3-Regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-size4-R;
    src: local("MathJax_Size4"),local("MathJax_Size4-Regular");
    font-display: swap
}

@font-face {
    font-family: MJXc-TeX-size4-Rw;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/eot/MathJax_Size4-Regular.eot);
    src: url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/woff/MathJax_Size4-Regular.woff) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/fonts/HTML-CSS/TeX/otf/MathJax_Size4-Regular.otf) format("opentype");
    font-display: swap
}

mjx-math {
    white-space: break-spaces!important
}

mjx-container[jax=CHTML][display=true] {
    display: inline-block!important
}

mspace {
    display: block
}

.math-block {
    display: inline-block!important;
    margin-top: none!important;
    margin-bottom: none!important;
    font-size: 12px!important
}

mjx-merror {
    display: none!important
}

img { 
    max-width: 100% !important;
    height: auto !important;
}

body {
	background: linear-gradient(-45deg, #ffbe0a, #c23847, #2a7fb4, #5b4e99);
	background-size: 400% 400%;
	animation: bg_gradient 10s ease infinite;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes bg_gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#__rbox {
    font-size: 24px;
    padding: 2rem 1rem;
    min-height: 3em;
    resize: both;
    background: white;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%235b4e99' /%3E%3Cstop offset='25%25' stop-color='%23c23670' /%3E%3Cstop offset='50%25' stop-color='%23db8b3e' /%3E%3Cstop offset='100%25' stop-color='%23e2c36d' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
    border-radius: 100px;
    border-width: 100px;

}

/* .container {
    background: white;
} */

footer{
    margin-top: auto;
}